#square-buttons {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
section{
    margin-top: 4rem;
}
.carousel-item img {
    object-fit: cover;
    height: auto; /* ปรับขนาดภาพให้เป็นขนาดเท่ากัน */
  }
  